.active {
    color: cadetblue;
}

a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

#library-link {
    padding-left: 6vh;
    padding-right: 3vh;
}

body {
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
}

header {
    height: 4vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-nav {
    height: 100%;
    justify-content: center;
    text-align: left;
    padding-top: 1vh;
    background-color: black;
    word-spacing: 0.5em;
}